<app-header [header]="'Menage Company'"></app-header>
<div class="row p-3 justify-content-between">
    <div class="col-4">
        <input type="text" class="form-control" [(ngModel)]="searchCompany" placeholder="Search For Company">
    </div>
    <div class="col-4  d-flex justify-content-end">
        <button (click)="open()" class="btn green-color">Add Company</button>
    </div>
</div>

<div *ngFor="let item of compantList | myFilter : searchCompany">
    <app-list-card [id]="item.id" [name]="item.title" [description]="item.description"></app-list-card>
</div>

<app-footer></app-footer>