<app-header></app-header>


<form #userlogin="ngForm" (ngSubmit)="onClickSubmit(userlogin.value) " class="row">
    <div class="col-4 ">
        <input  class="w-100 m-2" type="text" name="title" required placeholder="title" ngModel>
        <br />
    </div>
    <div class="col-4">
        <input  class="w-100 m-2" type="text" name="description" required placeholder="description" ngModel>
        <br />
    </div>
    <div class="col-4">
        <input class="btn btn-outline-success" type="submit" value="Add Company">
    </div>
</form>

<div *ngFor="let item of compantList">
    <app-company-list [company]="item"></app-company-list>
</div>

<app-footer></app-footer>