<app-header></app-header>
<div class="container overflow-auto">
    <div class="row">
        <div class="card" style="width: 300px;">
            <img src="/assets/photo-1511367461989-f85a21fda167.jpeg" class="card-img-top m-2" alt="Profile">
            <div class="card-body text-center">
                <h5 class="card-title">Alice Liddel</h5>
                <p class="card-text">Alice is a freelance web designer and developer based in London. She is specialized
                    in
                    HTML5, CSS3, JavaScript, Bootstrap, etc.</p>
                <a href="javascript:;" class="btn btn-primary">View Profile</a>
            </div>
        </div>
        <div class="card" style="width: 300px;">
            <img src="/assets/photo-1511367461989-f85a21fda167.jpeg" class="card-img-top m-2" alt="Profile">
            <div class="card-body text-center">
                <h5 class="card-title">Alice Liddel</h5>
                <p class="card-text">Alice is a freelance web designer and developer based in London. She is specialized
                    in
                    HTML5, CSS3, JavaScript, Bootstrap, etc.</p>
                <a href="javascript:;" class="btn btn-primary">View Profile</a>
            </div>
        </div>
        <div class="card" style="width: 300px;">
            <img src="/assets/photo-1511367461989-f85a21fda167.jpeg" class="card-img-top m-2" alt="Profile">
            <div class="card-body text-center">
                <h5 class="card-title">Alice Liddel</h5>
                <p class="card-text">Alice is a freelance web designer and developer based in London. She is specialized
                    in
                    HTML5, CSS3, JavaScript, Bootstrap, etc.</p>
                <a href="javascript:;" class="btn btn-primary">View Profile</a>
            </div>
        </div>
        <div class="card" style="width: 300px;">
            <img src="/assets/photo-1511367461989-f85a21fda167.jpeg" class="card-img-top m-2" alt="Profile">
            <div class="card-body text-center">
                <h5 class="card-title">Alice Liddel</h5>
                <p class="card-text">Alice is a freelance web designer and developer based in London. She is specialized
                    in
                    HTML5, CSS3, JavaScript, Bootstrap, etc.</p>
                <a href="javascript:;" class="btn btn-primary">View Profile</a>
            </div>
        </div>
    </div>
</div>

<app-footer></app-footer>