<app-header></app-header>

<div class="row justify-content-around">
  <div class="card" style="width: 45%;">
    <a href="javsscript:;" style="text-decoration: none;" [routerLink]="['/company']">
      <img src="/assets/manage-companies.png" class="card-img-top" alt="..." >
      <div class="card-body">
        <h4 class="text-dark card-text m-2"><strong>Manage Company</strong></h4>
      </div>
    </a>
  </div>

  <div class="card" style="width: 45%;">
    <a href="javsscript:;" style="text-decoration: none;" [routerLink]="['/employee']">
      <img src="/assets/manage-employees.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h4 class="text-dark card-text m-2"><strong>Manage Employee</strong></h4>
      </div>
    </a>
  </div>
</div>


<app-footer></app-footer>